$loader-color: #6441a4;

$anim-length: 2s;
$anim-delay: .5s;
$anim-curve: cubic-bezier(0.4, 0, 0.2, 1);

$loader-width: 40px;
$loader-half-width: calc(#{$loader-width}/2);
$loader-cube-width: calc(#{$loader-width}/3);
$xTransforms: 0, #{$loader-half-width}, 0, - #{$loader-half-width};
$yTransforms: - #{$loader-half-width}, 0, #{$loader-half-width}, 0;

.loader {
  position: relative;
  width: $loader-width;
  height: $loader-width;
  transform: rotate(-45deg);

  .cube {
    height: $loader-cube-width;
    width: $loader-cube-width;
    background-color: #fff;
    opacity: 0;
    outline: 1px solid transparent;
    position: absolute;

    &:nth-child(1) {
      background-color: $loader-color;
      animation: purpleAnim $anim-length infinite $anim-length;
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      bottom: 0;
      right: 0;
      animation: cubeAnim $anim-length infinite $anim-curve ($anim-delay * 2);
    }
    &:nth-child(3) {
      bottom: 0;
      left: 0;
      animation: cubeAnim $anim-length infinite $anim-curve ($anim-delay * 3);
    }
    &:nth-child(4) {
      top: 0;
      left: 0;
      animation: cubeAnim $anim-length infinite $anim-curve ($anim-delay * 4);
    }
    &:nth-child(5) {
      top: 0;
      right: 0;
      animation: cubeAnim $anim-length infinite $anim-curve $anim-delay;
    }
  }
}

@keyframes cubeAnim {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes purpleAnim {
  0% {
    transform: translate(calc(#{$loader-width} - 100%), 0px);
    opacity: 1;
  }
  25% {
    transform: translate(calc(#{$loader-width} - 100%), calc(#{$loader-width} - 100%));
  }
  50% {
    transform: translate(0px, calc(#{$loader-width} - 100%));
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(calc(#{$loader-width} - 100%), 0px);
    opacity: 1;
  }
}
