/*
|--------------------------------------------------------------------------
| base.scss
|--------------------------------------------------------------------------
|
| This file contains very basic styles.
*/

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include background-image('gradient-bg.webp');
}