.starter-container {
  position: relative;
  background-image: url(@/assets/images/yasuo-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
  }
}

.starter-message {
  color: #fff;
  padding: 0.5rem;
  bottom: 1rem;
  font-size: $text-df;
  margin-top: 2rem;
  animation: fadeOpacity 2s infinite;
}
