.starter-container {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.starter-message {
	animation: fadeOpacity 2s infinite;
}
