.glass {
    background-color: hsla(var(--glass-background));
    backdrop-filter: var(--glass-filter);
}

.ctm-shadow {
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
}

label:has(button[data-state=checked]) {
    color: #fff !important;
    fill: #fff;
}

.ctm-dropdown {
    width: auto;
}

.main-title {
    font-size: 2.5rem;
}

.text-primary {
    color: hsl(var(--primary));
}

.rounded-circle {
    border-radius: 1;
    border-radius: 100vmax;
}

.load-btn__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    &__bg {
        @include square(100%);
        top: 0;
        left: 0;
        //border-top: 1px solid hsl(var(--primary));

        &:after {
            content: '';
            background-color: #fff;
            height: 2px;
            position: absolute;
            border-top: 3px solid hsl(var(--primary));
        }
    }

    &__circle {
        z-index: 0;
    }

    &__btn {
        @include square(6rem);
    }

    &__bg:after,
    &__circle {
        @include square(7.5rem);
        border-radius: 100vmax;
    }

    &__bg,
    &__circle {
        background-color: #fff;
        //box-shadow: 0px -5px 20px rgba(255, 255, 255, .2);
        box-shadow: 0px -5px 20px rgba(86, 83, 243, .2);
    }

    &__circle,
    &__btn,
    &__bg:after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__bg,
    &__circle,
    &__btn {
        position: absolute;
    }

    &__shape {
        position: absolute;
        bottom: 0;
        background-color: hsl(var(--primary));
        height: 3rem;
        
        &:before {
          background-color: hsl(var(--primary));
        }

        &:after {
          background-color: #fff;
        }

        &:before, &:after {
          position: absolute;
          content: " ";
          width: 2rem;
          height: 1.8rem;
          bottom: 0;
      }

      &.corner-right {
        left: 0;
        border-top-right-radius: 2rem;

        &:after {
          border-bottom-left-radius: 100%;
        }
        &:before, &:after {
          right: 1px;
          transform: translateX(100%);
        }
      }

      &.corner-left {
        right: 0;
        border-top-left-radius: 2rem;

        &:after {
          border-bottom-right-radius: 100%;
        }
        &:before, &:after {
          left: 1px;
          transform: translateX(-100%);
        }
      }
    }
}

.footer-btn {
  padding: 1rem 1.5rem;
  color: #fff;
  border-bottom-right-radius: 0;
}

::-webkit-scrollbar {
    display: none;
}

