.header {
	background: $darkGreyTrans;
	backdrop-filter: blur(12px);
}

.background-video {
	z-index: -1;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0rem;
	left: 0rem;

	video {
		object-fit: cover;
		object-position: center center;
		height: 100%;
		width: 100%;
		transform-origin: center center;
	}
}

.main-btn {
	background-color: $grey;
	color: #fff;
}

.ctn-border {
	border-color: hsl($gold-4);
}

.export-btn {
	position: fixed;
	bottom: 0;
	left: 50%;
	@include square(10.5rem);
	transform: translate(-50%, 50%);
	background: $grey;
	backdrop-filter: var(--glass-filter);
	border-top: 3px solid #fff;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		@include square(calc(100% - 10px));
		transform: translate(-50%, -50%);
		border-radius: 100vmax;
	}

	&:has(button:not(:disabled)) {
		&:before {
			background: $gold-gradient;
			cursor: pointer;
		}

		&:hover {
			border-color: hsl($gold-1);
			box-shadow: 0 0 10px 0 #fff, 0 0 2px 0 #fff;
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);
		object-fit: cover;
		filter: invert(0) brightness(0);
	}

	button {
		position: absolute;
		top: 50%;
		left: 50%;
		@include square(calc(100% - 3.5rem));
		transform: translate(-50%, -50%);

		span {
			display: block;
			margin-bottom: 3rem;
		}
	}
}

.toast {
	background: $grey;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: -1px;
		width: 1.3rem;
		height: 2.4rem;
		background: $grey;
		transform: translateY(-50%);
		z-index: 0;
		border-radius: 100vmax 0 0 100vmax;
		border: 1px solid #fff;
		border-right: #fff;
	}
}

.toast-close-btn {
	@include flex_center(center);
	transform: translate(50%, -50%);
	border: 1px solid #fff;
	background: $grey;
	z-index: 1;
}

.icon-light {
	stroke: hsl($gold-1);
}

.glass {
	background: hsl($blue-5);
	backdrop-filter: var(--glass-filter);
}

.bg-glass {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: var(--glass-filter);
}

.gold-border-top {
	border-top: 2px solid hsl($gold-3);
}

.ctm-shadow {
	box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
}

.gold-gradient-bg {
	background: $gold-gradient;
}

.blue-gradient-bg {
	background: $blue-gradient;
}

.gold-gradient-border {
	border: 2px solid;
	border-image: $gold-gradient;
	border-image-slice: 1;
}

.blue-gradient-border {
	border: 2px solid;
	border-image: $blue-gradient;
	border-image-slice: 1;
}

.border-thin {
	border-width: 1px;
}

.gold-gradient-text {
	background-image: $gold-gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.text-light {
	color: #fff;
	opacity: 0.6;
}

.profile-item {
	border-radius: 10px;
	color: #fff;
	background: hsl(var(--card));
	aspect-ratio: 1;

	&[aria-selected='true'] {
		background: $gold-gradient;
	}
}

.ctm-dialog {
	border-top: 1px solid $lightGrey;
}

.ctm-dropdown {
	width: auto;
	background: $darkGrey;
	border: 1px solid $lightGrey;
}

.ctm-dropdown-item {
	&:hover {
		background: $lightGrey;
	}
}

.main-title {
	font-size: 2.5rem;
	color: #fff;
	font-weight: bold;
	line-height: 1.2;
}

.text {
	font-family: 'Spiegel Regular';
	line-height: 1.24;
	letter-spacing: 0.01em;
	color: hsl($grey-1);
}

.text-primary {
	color: hsl($gold-4);
}

.bg-golden {
	background: $gold-gradient;
}

.rounded-circle {
	border-radius: 100vmax;
}

::-webkit-scrollbar {
	display: none;
}

.line-clamp {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;

	@for $i from 1 through 4 {
		&.-lc-#{$i} {
			-webkit-line-clamp: $i;
		}
	}
}

.slide-in,
.slide-out {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $grey;
	z-index: 2;
}
.slide-in {
	transform-origin: bottom;
}
.slide-out {
	transform-origin: top;
}
