.background-video {
	z-index: -1;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0rem;
	left: 0rem;

	video {
		object-fit: cover;
		object-position: center center;
		height: 100%;
		width: 100%;
		transform-origin: center center;
	}
}

.header {
	background: hsl($hexteck-black-blur);
}

.settings-btn {
	@include square(2rem);
	@include flex_center(center);
	border: 2px solid hsl($gold-4);

	svg {
		fill: hsl($gold-1);
	}
}

.lol-btn {
	background-color: hsl($hexteck-black);
	font-size: $text-md;

	&:not(.export-btn):not(:disabled) {
		&:hover {
			border: 2px solid hsl($gold-1);
			box-shadow: 0 0 10px 0 hsl($gold-1), 0 0 2px 0 hsl($gold-4);
		}
	}
}

.export-btn {
	position: fixed;
	bottom: 0;
	left: 50%;
	@include square(10.5rem);
	transform: translate(-50%, 50%);
	background: hsl($hexteck-black-blur);
	border-top: 3px solid hsl($gold-2);

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		@include square(calc(100% - 10px));
		transform: translate(-50%, -50%);
		border-radius: 100vmax;
	}

	&:has(button:not(:disabled)) {
		&:before {
			background: $blue-gradient;
			cursor: pointer;
		}

		&:hover {
			border-color: hsl($gold-1);
			box-shadow: 0 0 10px 0 hsl($gold-1), 0 0 2px 0 hsl($gold-4);
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);
		object-fit: cover;
	}

	button {
		position: absolute;
		top: 50%;
		left: 50%;
		text-transform: uppercase;
		font-size: 0.8rem;
		color: hsl($gold-1);
		@include square(calc(100% - 3.5rem));
		transform: translate(-50%, -50%);

		span {
			display: block;
			margin-bottom: 3rem;
		}
	}
}

.toast {
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: -1px;
		width: 1.3rem;
		height: 2.4rem;
		background: hsl($hexteck-black);
		transform: translateY(-50%);
		z-index: 0;
		border-radius: 100vmax 0 0 100vmax;
		border: 1px solid hsl($gold-4);
		border-right: hsl($hexteck-black);
	}
}

.toast-close-btn {
	@include flex_center(center);
	transform: translate(50%, -50%);
	border: 2px solid hsl($gold-4);
	background: hsl($hexteck-black);
	z-index: 1;
}

.icon-light {
	stroke: hsl($gold-1);
}

.glass {
	background: hsl($blue-5);
	backdrop-filter: var(--glass-filter);
}

.bg-glass {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: var(--glass-filter);
}

.gold-border-top {
	border-top: 2px solid hsl($gold-3);
}

.ctm-shadow {
	box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
}

.gold-gradient-bg {
	background: $gold-gradient;
}

.blue-gradient-bg {
	background: $blue-gradient;
}

.gold-gradient-border {
	border: 2px solid;
	border-image: $gold-gradient;
	border-image-slice: 1;
}

.blue-gradient-border {
	border: 2px solid;
	border-image: $blue-gradient;
	border-image-slice: 1;
}

.border-thin {
	border-width: 1px;
}

.gold-gradient-text {
	background-image: $gold-gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.text-light {
	color: hsl($gold-1);
}

.profile-item {
	color: hsl($gold-1);
	fill: hsl($gold-1);
	background: hsl($grey-cool);
	aspect-ratio: 1;

	&[aria-selected='true'] {
		background: $gold-gradient;
	}

	&:hover {
		border: 1px solid hsl($gold-1) !important;
	}
}

.ctm-dropdown {
	width: auto;
	background: hsl($hexteck-black);
}

.ctm-dropdown-item {
	&:hover {
		background: $gold-gradient;
	}
}

.main-title {
	font-size: 2.5rem;
	font-family: 'Beaufort Bold';
	text-transform: uppercase;
	color: hsl($gold-1);
	line-height: 1.2;
}

.text {
	font-family: 'Spiegel Regular';
	line-height: 1.24;
	letter-spacing: 0.01em;
	color: hsl($grey-1);
}

.text-primary {
	color: hsl($gold-4);
}

.bg-golden {
	background: $gold-gradient;
}

.rounded-circle {
	border-radius: 100vmax;
}

::-webkit-scrollbar {
	display: none;
}

.line-clamp {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;

	@for $i from 1 through 4 {
		&.-lc-#{$i} {
			-webkit-line-clamp: $i;
		}
	}
}
