/*
|--------------------------------------------------------------------------
| button.scss
|--------------------------------------------------------------------------
|
| Style pour les boutons
*/

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: .5rem;

  &.-center {
    justify-content: center;
  }

  &.-to-right {
    justify-content: flex-end;
  }
}

.button {
  border-radius: .5rem;
  color: $primary-color;
  transition: all .2s ease-in-out;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-radius: .375rem;

  &.-rounded {
    border-radius: 100vmax;
  }

  &.-square {
    padding: 0;
    @include square(2rem);
    @include flex_center(center);
  }

  svg {
    @include square(1.2rem);
    fill: currentColor;
  }

  &:hover {
    background-color: rgba(255,255,255,.3);
    box-shadow: none;
  }

  &.btn--upload {
    @include square(4.6rem);
    background-color: $primary-color;
    transform: translateY(-10px);
    z-index: 1;
    color: #fff;
    font-size: .8rem;
    text-align: center;
  }
}
